In [2]:
import pandas as pd
from pathlib import Path

base_dir = Path("C:/Users/tanay/Documents/projects/finsights")
data_dir = base_dir/"data"
apple_csv_path = data_dir/"apple_2009-2024.csv"

In [11]:
data = pd.read_csv(apple_csv_path)

In [12]:
data.head()

,year,ebitda_millions,revenue_millions,gross_profit_millions,op_income_millions,net_income_millions,eps,shares_outstanding,year_close_price,total_assets_millions,cash_on_hand_millions,long_term_debt_millions,total_liabilities_millions,gross_margin,pe_ratio,employees
0,2024,"$134,661","$391,035","$180,683","$123,216","$93,736",$6.08,"15,408",243.0400,"$364,980","$65,171","$85,750","$308,030",46.21%,39.97,"164,000"
1,2023,"$125,820","$383,285","$169,148","$114,301","$96,995",$6.13,"15,813",191.5919,"$352,583","$61,555","$95,281","$290,437",45.03%,29.84,"161,000"
2,2022,"$130,541","$394,328","$170,782","$119,437","$99,803",$6.11,"16,326",128.5816,"$352,755","$48,304","$98,959","$302,083",43.06%,21.83,"164,000"
3,2021,"$120,233","$365,817","$152,836","$108,949","$94,680",$5.61,"16,865",174.7132,"$351,002","$62,639","$109,106","$287,912",43.02%,28.93,"154,000"
4,2020,"$77,344","$274,515","$104,956","$66,288","$57,411",$3.28,"17,528",129.7556,"$323,888","$90,943","$98,667","$258,549",38.78%,35.14,"147,000"

In [13]:
cols = [col for col in data.columns]

In [14]:
cols

['year',
 'ebitda_millions',
 'revenue_millions',
 'gross_profit_millions',
 'op_income_millions',
 'net_income_millions',
 'eps',
 'shares_outstanding',
 'year_close_price',
 'total_assets_millions',
 'cash_on_hand_millions',
 'long_term_debt_millions',
 'total_liabilities_millions',
 'gross_margin',
 'pe_ratio',
 'employees']

In [15]:
data.dtypes

year                            int64
ebitda_millions                object
revenue_millions               object
gross_profit_millions          object
op_income_millions             object
net_income_millions            object
eps                            object
shares_outstanding             object
year_close_price              float64
total_assets_millions          object
cash_on_hand_millions          object
long_term_debt_millions        object
total_liabilities_millions     object
gross_margin                   object
pe_ratio                      float64
employees                      object
dtype: object

In [8]:
import os
os.getcwd()

'C:\\Users\\tanay\\Documents\\projects\\finsights'

In [7]:
from app.data_loader import cleaned_data

df = cleaned_data()
df.tail()

,year,ebitda_millions,revenue_millions,gross_profit_millions,op_income_millions,net_income_millions,eps,shares_outstanding,year_close_price,total_assets_millions,cash_on_hand_millions,long_term_debt_millions,total_liabilities_millions,gross_margin,pe_ratio,employees,net_profit_margin,current_ratio,debt_to_assets_ratio
11,2020,77344,274515,104956,66288,57411,3.28,17528,129.7556,323888,90943,98667,258549,0.3878,35.14,147000,0.209136,1.252714,0.304633
12,2021,120233,365817,152836,108949,94680,5.61,16865,174.7132,351002,62639,109106,287912,0.4302,28.93,154000,0.258818,1.219129,0.310842
13,2022,130541,394328,170782,119437,99803,6.11,16326,128.5816,352755,48304,98959,302083,0.4306,21.83,164000,0.253096,1.167742,0.280532
14,2023,125820,383285,169148,114301,96995,6.13,15813,191.5919,352583,61555,95281,290437,0.4503,29.84,161000,0.253062,1.213974,0.270237
15,2024,134661,391035,180683,123216,93736,6.08,15408,243.0400,364980,65171,85750,308030,0.4621,39.97,164000,0.239713,1.184885,0.234944